// --------variables, colors, font-family, etc--------
// ----COLOR Settings----
// red shades
$red: #ef1073;
$red-light: #f4589d;
$red-lighter: #f99fc7;
$red-dark: #a70b51;
$red-darker: #60062e;
// orange shades
$orange: #f39200;
$orange-light: #f7b34d;
$orange-lighter: #f9c980;
$orange-dark: #c27500;
$orange-darker: #925800;
// blue shades
$blue: #55bcfa;
$blue-light: #88d0fc;
$blue-lighter: #bbe4fd;
$blue-dark: #3b84af;
$blue-darker: #224b64;
// gray shades
$white: #FFFFFF;
$black: #000000;
$gray-10: #f1f1f1;
$gray-20: #d6d6d6;
$gray-30: #aaaaaa;
$gray-40: #999999;
$gray-50: #888888;
$gray-60: #666666;
$gray-70: #3a3a3a;
$gray-80: #222222;
$gray-90: #101010;

//-----Breakpoints
$screen-xl: 1920px;
$screen-l: 1440px;
$screen-m: 1008px;
$screen-s: 768px;
$screen-xs: 416px;